:root{
    --primary-color: #212121;
    --secondary-color: #757575;
    --marked-color: #2196F3;
    --event-color: green;
}
body{
    font-family: Roboto, sans-serif;
    color: var(--primary-color);
}
.filter{
    cursor:pointer;
    font-size: 16px;
    line-height: 1.63;
}
.filter:focus{
    cursor:pointer;
}
.filter:hover{
    cursor:pointer;
}
.logo{
    font-size:26px;
    color:#000000;
    font-weight:700;
    line-height: 1.19;
}
a{
    color: var(--primary-color);
}
header > div > a:focus{
    color: var(--event-color);
}
header > div > a:hover{
    color: var(--event-color);
}
header > div > a{
    color: var(--secondary-color);
}
header{
    font-size: 14px;
    line-height: 1.14;
}
header > nav > ul > li > span{
    color: var(--marked-color);
}
footer > ul > a:focus{

    color: var(--event-color);
}
footer > ul > a:hover{

    color: var(--event-color);
}
.categoriesContainer{
   font-size:16px;
   line-height: 1.63;
}
.productsContainer ul > li > figure > figcaption > span{
    font-size: 18px;
    color:var(--primary-color);
    font-weight:700;
    line-height:2;
}
.productsContainer > ul > li > figure > figcaption{
    font-size: 16px;
    line-height:1.88;
    color:var(--secondary-color);
}
footer > a{
    font-size:26px;
    color:#FFFFFF;
    font-weight:700;
}
footer > a > span{
    color: #2196F3;
}
footer{
    font-size:14px;
    font-weight:400;
}
footer > ul > li > address{
    color:#FFFFFF;
}
footer > ul > li{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height:1.72;
}
.marked{
    color:var(--marked-color);
}
/* 


ELEMENT HTML/CLASS/ID:focus{
    color:blue;
    ...
}





Będziemy stylizować tag a, który jest bezpośrednim dzieckiem div, który z kolei jest bezpośrednim dzieckiem headera

Jeśli nie ma > to poprostu wybieramy wszystkie elementy, które znajdują się w danym tagu,klasie, ID
*/

